{% extends 'base.html.twig' %}

{% block title "Ticketing DISP" %}

{% block stylesheets %}


    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
