<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant pour valider votre adresse mail</p>

<a href="{{ url('app_forgot_password_request') }}">{{ url('app_forgot_password_request') }}</a>

<p>Bonne journée</p>
